alias c="clear"
alias q="exit"
alias v="vim"
alias la="ls-alh"
alias ll="ls-alF"
alias psef="ps-ef"
alias vzc="vim ~/.zshrc"
alias vza="vim ~/.aliases"
alias config="/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME"
